* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
button,
input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
}

button:focus,
input:focus,
select:focus {
  outline: none;
}

body {
  background: linear-gradient(120deg, #9364d9, #6473d9);
}

header {
  min-height: 10vh;
}

header h1 {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

main {
  min-height: 90vh;
}

.calc-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.16);
  padding: 2rem;
  margin-bottom: 5rem;
}

.input-container {
  width: 360px;
}

.input-container * {
  width: 2.5rem;
  height: 2.5rem;
  color: rgba(0, 0, 0, 0.87);
}

.input-container select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 2rem;
  padding-left: 1rem;
  margin-left: -0.5rem;
  color: #7d6cd9;
  border: 0;
}

.input-container input {
  border: 0;
  background-color: transparent;
  text-align: center;
  border-bottom: 1px solid #cbd5e0;
}

.input-container button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: #7d6cd9;
  color: #fff;
  font-size: 2rem;
}

.input-container #output {
  border-bottom: 1px solid #cbd5e0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* UTILITIES */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-white {
  color: rgba(255, 255, 255, 0.9);
}
